body {
    background-image: url("OIP.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    border: 5px solid black;
    padding: 20px;
    box-shadow: 15px;
    text-align: center;
    box-shadow: 5px 5px rgb(193, 221, 246);
    width: 570px;
}

.heading:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.ParaOne {
    position: relative;
    border: 2px solid black;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px rgb(193, 221, 246);
    margin-bottom: 30px;
}

.PicOne {
    position: relative;
    border: 2px solid black;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 5px 5px rgb(193, 221, 246);
}

.TotalPic {
    height: 400px;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;

}

#Head2 {
    font-weight: bold;
}