body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    border: 5px solid black;
    padding: 20px;
    box-shadow: 15px;
    text-align: center;
    box-shadow: 5px 5px rgb(193, 221, 246);

}

.heading:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.peeimg {
    height: 400px;
    width: 700px;
    margin-left: 26.5%;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(193, 221, 246);
}

.peeimg:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.inpbutton {
    position: relative;
    padding: 10px;
    font-size: large;
    background-color: aqua;
    border: solid black 3px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 5px 5px rgb(193, 221, 246);
    font-weight: bolder;
    left: 45%;
}

.inpbutton:hover {
    background-color: aquamarine;
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#ON {
    margin-left: 300px;
    margin-right: 80px;
}


.lightio {
    border: 2px solid black;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 45px;
    padding-bottom: 50px;
    width: 400px;
    box-shadow: 5px 5px rgb(193, 221, 246);
    margin-right: 20px;
    margin-left: 220px;
    margin-top: 50px;
}

.lightio:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#select {
    padding: 5px;
    text-align: center;
    background-color: azure;
    font-weight: bolder;
}

#footer {
    background-color: rgb(37, 221, 238);
    border-radius: 30px;
    width:100%;
    box-shadow: 5px 5px rgb(23, 135, 160);
    position:relative;
    right:10%;
}

#footer:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

h5 {
    color: white;
    padding: 1%;
    text-align: center;
}

#select {
    margin: 10px;
    border-radius: 15px;
}

#potval {
    width: 50px;
    margin: 2%;

}

.volts {
    position: relative;
    border: 2px solid black;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px;
    box-shadow: 5px 5px rgb(193, 221, 246);
    margin-left: 50px;
    margin-top: 50px;
}

.tabdat {
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px;
}

.obstable {
    position: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10px;
    width: 525px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-left: 20px;
    box-shadow: 5px 5px rgb(193, 221, 246);
    height: 330px;
}

.graph {
    border:3px solid black;
    background-color: aliceblue;
    margin:0px;
    padding:0px;
    position:relative;
    right:140px;
}



#canvas {
    position: relative;
}
/* Add this at the end of your existing CSS */

/* Responsive CSS */

@media only screen and (max-width: 40em) {
    .graph {
        right: 5%; /* Adjust the position of .graph */
    }
}

